# Dependencies
/node_modules

# Old route files
/routes/old

# Old views
/views/old

# Audio files & but include the folder voice-samples
!/public/audio/voice-samples
/public/audio/*.mp3

# Environment variables
.env

# Backup files .backup.v(1.0.0)
*.backup.v*
public/img/.DS_Store
test-carousel-fix.html

# Entire Scripts Folder
/scripts

#Entire Docs Folder
/docs